@use '../../styles/colors' as *;

.filter-payments-form {
    display: flex;
    flex-direction: column;

    margin-top: 50px;
    margin-bottom: 50px;

    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}

.filter-payments-form-section {
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn {
    height: 35px;
    background-color:$primary-button-color
}

.btn {
    background-color:$primary-button-color-hover
}

.filter-payments-form-section-item {
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
}

.search-bar {
    height: 30px;
}

.usertype-selection {
    height: 35px;
}

.col-creditor {
    width: 200px;    
}

.col-price {
    width: 200px;    
}

.col-paymentdate {
    width: 200px;    
}

.col-description {
    width: 200px;    
}

.col-debitors {
    width: 200px;    
}

.col-author {
    width: 200px;    
}

.payments-container {
    width: 100%;
}