@use "../../styles/colors" as *;

table {
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
  width: 100%;
}

table td {
  padding: 15px;
}

table thead td {
  background-color: $primary-color;
  color: $text-color;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid $border-color;
}

table tbody td {
  color: $text-color;
  border: 1px solid $primary-background-color;
}

table tbody tr {
  background-color: $accent-color;
}

table tbody tr:nth-child(odd) {
  background-color: lighten($accent-color, 10%);
}

.col-creditor,
.col-price,
.col-paymentdate,
.col-description,
.col-debitors,
.col-author {
  width: 200px;
}

.payments-container {
  width: 100%;
  overflow-x: auto;
}

.btn {
  height: 35px;
  background-color: $secondary-button-color;
  color: $text-color;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:not(:disabled):hover {
  background-color: $primary-button-color-hover;
}

.btn:disabled {
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  table thead td {
    font-size: 11px;
  }

  table td {
    padding: 10px;
  }

  .col-creditor,
  .col-price,
  .col-paymentdate,
  .col-description,
  .col-debitors,
  .col-author {
    width: auto;
    word-wrap: break-word;
  }

  .btn {
    width: 100%;
    height: 40px;
  }
}
