@use '../../styles/colors' as *;

table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}

table td {
	padding: 15px;
}

table thead td {
    background-color: $primary-color;
	color: $text-color;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid $border-color;
}

table tbody td {
	color: $text-color;
	border: 1px solid $primary-background-color;
}

table tbody tr {
	background-color: $accent-color;
}

table tbody tr:nth-child(odd) {
	background-color: lighten($accent-color, 10%);
}

.col-creditor {
    width: 200px;    
}

.col-price {
    width: 200px;    
}

.col-paymentdate {
    width: 200px;    
}

.col-description {
    width: 200px;    
}

.col-debitors {
    width: 200px;    
}

.col-author {
    width: 200px;    
}

.payments-container {
    width: 100%;
}

.btn {
    height: 35px;
    background-color: $secondary-button-color;
    color: $text-color;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    height: 35px;
    background-color:$primary-button-color-hover;
}