
table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
	padding: 15px;
}
table thead td {
    background-color: rgb(160, 152, 190);
	color: black;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

.col-creditor {
    width: 200px;    
}

.col-price {
    width: 200px;    
}

.col-paymentdate {
    width: 200px;    
}

.col-description {
    width: 200px;    
}

.col-debitors {
    width: 200px;    
}

.col-author {
    width: 200px;    
}

.payments-container {
    width: 100%;
}