<h1>Kurze Erklärung der Funktionalität</h1>
<p>Auf dieser Seite werden Rechnungen und Zahlungen verwaltet. Es können Rechnungen angelegt werden. Das Bearbeiten von Rechnungen ist nicht vorgesehen. Falls eine Rechnung inkorrekt erfasst wurde, muss sie gelöscht und neu angelegt werden.</p>

<ol style="--length: 5" role="list">
    <li style="--i: 2" class="li-links">
        <h3>Rechnung erfassen</h3>
        <span></span>
        <a [routerLink]="['/payments/create']" class="stretched-link"></a>
    </li>
	<li style="--i: 0" class="li-links">
		<h3>Rechnungen anschauen</h3>
        <span>Alle Rechnungen anschauen</span>
        <a [routerLink]="['/payments']" class="stretched-link"></a>
	</li>
	<li style="--i: 1" class="li-links">
        <h3>Rechnungen filtern</h3>
        <span>Welche Rechnungen wurden von/für NutzerX bezahlt?</span>
        <a [routerLink]="['/payments-for-user']" class="stretched-link"></a>        
    </li>
	<li style="--i: 2" class="li-links">
        <h3></h3>
        <span>Wieviel wurde nur für mich bezahlt? Wieviel habe ich nur für andere bezahlt?</span>
        <a [routerLink]="['/payment-overview-for-user']" class="stretched-link"></a>
	</li>
    <li style="--i: 3" class="li-links">
        <h3>Quittung erstellen (mit Aufschlüsselung der Rechnungen)</h3>
        <span></span>
        <a [routerLink]="['/bills']" class="stretched-link"></a>
	</li>
    <li style="--i: 4" class="li-links">
        <h3>Quittung erstellen (ohne Aufschlüsselung der Rechnungen)</h3>
        <span></span>
        <a [routerLink]="['/bills-overview-for-user']" class="stretched-link"></a>
	</li>
    <li style="--i: 5" class="li-links">
        <h3>Nutzer</h3>
        <span>Nutzer ansehen</span>
        <a [routerLink]="['/users']" class="stretched-link"></a>
    </li>
</ol>