<div class="new-payment-container form-style-3">
    <datalist id="suggestions">
        <option *ngFor="let user of users$ | async" [value]="user.username">
    </datalist>

    <form class="post-payment-form" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <label for="field1">
            <span>Gläubiger</span>
            <input type="text" class="input-field" name="field1" value="" formControlName="creditor" list="suggestions"/>
        </label>
        <label for="field2">
            <span>Beschreibung</span>
            <input type="text" class="input-field" name="field2" value="" formControlName="description"/>
        </label>
        <label for="field3">
            <span>Preis</span>
            <input type="text" class="input-field" name="field3" value="" formControlName="price"/>
        </label>
        <label for="field4">
            <span>Rechnungsdatum</span>
            <input type="date" class="input-field" name="field4" [valueAsDate]="getNow()" formControlName="paymentDate"/>
        </label>

        <label for="field5">
            <span>Verfasser</span>
            <input type="text" class="input-field" name="field5" value="" formControlName="author" list="suggestions"/>
        </label>
        
        <fieldset>
            <legend>Liste der Schuldner</legend>
            <input type="button" class="btn-add-debitor button" (click)="addDebitor()" value="Schuldner hinzufügen" />
            <div formArrayName="debitors">            
                <div *ngFor="let debitor of debitors.controls; let i = index" [formGroupName]="i">
                    <label [htmlFor]="'debfield' + i">
                        <span>Schuldner {{ i + 1 }}</span>
                        <input type="text" class="input-field" [name]="'debfield' + i" value="" formControlName="debitor" list="suggestions">
                        <input (click)="removeDebitor(i)" type="button" value="Entfernen"/>
                    </label>                
                </div>
            </div>
        </fieldset>

        <label for="field6">
            <input class="btn-create-payment button" type="submit" value="Rechnung erstellen" />
        </label>
    </form>
</div>