<div class="new-payment-container">
    <p>Here you can create a new Payment</p>
    
    <form class="post-payment-form" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">

        <div class="field">
            <label class="label">Author</label>
            <input type="text" class="input" formControlName="author">
        </div>
        <div class="field">
            <label class="label">Creditor</label>
            <input type="text" class="input" formControlName="creditor">
        </div>
        <div class="field">
            <label class="label">Description</label>
            <input type="text" class="input" formControlName="description">
        </div>
        <div class="field">
            <label class="label">Date of Payment</label>
            <input type="date" class="input" formControlName="paymentDate">
        </div>
        <div class="field">
            <label class="label">Price</label>
            <input type="number" class="input" formControlName="price">
        </div>
        
        <div formArrayName="debitors">
            <label>Debitors</label>
            <div 
                *ngFor="let debitor of debitors.controls; let i = index" 
                [formGroupName]="i"
                class="debitor-container field">
                <label>Debitor {{i+1}}</label>
                <input formControlName="debitor" type="text" class="debitor-textfield">
                <button (click)="removeDebitor(i)" class="button btn-remove-debitor" type="button">-</button>
            </div>
            <button type="button" class="btn-add-debitor button" (click)="addDebitor()">Add Debitor</button>
        </div>


        <div>
            <button class="btn-create-payment button" type="submit">Create Payment</button>
        </div>

    </form>
    {{ paymentForm.value | json }}

</div>