@use '../../styles/colors' as *;

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $accent-color;
    display: flex;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
	font-size: 14px;
}

li {
    padding: 14px 16px;
    align-items: center;
    display: flex;
}

li a {
    display: block;
    color: $text-color;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

li a:hover {
    background-color: $secondary-background-color;
}

.navbar li a.active,
.navbar li.active a {
    background-color: $primary-background-color;
    color: $text-color;
}

@media (max-width: 768px) {
    ul {
      font-size: 12px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    li {
      padding: 8px 12px;
      width: auto;
    }
  
    li a {
      padding: 12px 14px;
      font-size: 14px;
    }
}
