<ul class="navbar">
    <li><a [routerLink]="['/home']">Startseite</a></li>
    <li><a [routerLink]="['/payments/create']">Neue Rechnung</a></li>
    <li><a [routerLink]="['/payments']">Rechnungen</a></li>
    <!--<li><a [routerLink]="['/payments-for-user']">Rechnungen filtern</a></li> vorerst nicht benötigt-->
    <li><a [routerLink]="['/payment-overview-for-user']">Rechnungsübersicht</a></li>
    <li><a [routerLink]="['/bills']">Quittungen</a></li>
    <li><a [routerLink]="['/bills-overview-for-user']">Quittungsübersicht</a></li>
    <li><a [routerLink]="['/users']">Nutzer</a></li>
    <li><a [routerLink]="['/impressum']">Impressum</a></li>
</ul>