h1 {
    padding: 10px;
}

p {
    text-align: center;
}

.background-image {
    margin: 20vh auto 0 auto; /* 30% der Höhe von oben */
    position: absolute; /* Bild bleibt im Hintergrund */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.40; /* Transparenz anpassen */
    z-index: -1; /* Bild hinter allem anderen */
}
