<div>
    <input id="user-search-bar" class="search" type="text" placeholder="Nutzername" (keyup)="search($event)">
    <button class="btn" (click)="reset()">Zurücksetzen</button>
    <ul class="users-list">
        <div 
            *ngIf="searchedUsers == undefined; else searchedUserCard">
            <app-user-card 
                *ngFor="let user of users$ | async"
                [firstName]="user.firstName" 
                [lastName]="user.lastName"
                [id]="user.id"
                [username]="user.username">
            </app-user-card>
        </div>
    </ul>

    <ng-template #searchedUserCard>
        <app-user-card 
            *ngFor="let user of searchedUsers"
            [firstName]="user.firstName" 
            [lastName]="user.lastName"
            [id]="user.id"
            [username]="user.username">
        </app-user-card>
    </ng-template>
</div>